<div id="slider" [ngClass]="{
  'slider': !sliderSize || sliderSize == 'big',
  'slider-sm': sliderSize == 'small'
}">
  <h1>{{superTitle}}</h1>
  <a [routerLink]="['/blog']" class="btn btn-white" *ngIf="sliderSize != 'small'">Blog</a>
</div>