<div class='loading' *ngIf='!articles'>
  Loading...
</div>

<div class='loading' *ngIf='articles && articles.length == 0'>
  No items found
</div>

<div id="articles" *ngIf='articles'>
  <article class="article-item" *ngFor="let article of articles">
    <div class="image-wrap">
      <img src="{{url + 'get-image/' + article.image}}" alt='{{article.title}}' *ngIf="article.image">
      <img src="assets/images/default.jpeg" alt='{{article.title}}' *ngIf="!article.image">
    </div>
    <h2>{{article.title}}</h2>
    <span class="date">
      {{article.date | amLocale: 'en' | amTimeAgo }}
    </span>
    <a [routerLink]="['/blog/article', article._id]">Read more</a>
  </article>
</div>
<div class="clearfix"></div>
