<aside id="sidebar">
  <div id="nav-blog" class="sidebar-item">
    <h3>More actions</h3>
    <a [routerLink]="['/blog/create']" class="btn btn-success">Create article</a>
  </div>
  <div id="nav-search" class="sidebar-item">
    <h3>Search</h3>
    <p>Find an article</p>
    <form #searchForm="ngForm" (ngSubmit)="goSearch()">
      <input type="text" name="search" [(ngModel)]="searchString">
      <input type="submit" name="submit" class="btn" value="Search">
    </form>
  </div>
</aside>
<div class="clearfix"></div>