<header id="header">
  <div class="center">
    <!-- LOGO -->
    <div id="logo">
      <img src="assets/images/angular.svg" class="app-logo" alt="logotipo"/>
      <span id="brand">
        <strong>Blog</strong> with Angular
      </span>
    </div>
  <!-- MENU -->
    <nav id="menu">
      <ul>
        <li>
          <a [routerLink]="['./home']" [routerLinkActive]="['active']">Home</a>
        </li>
        <li>
          <a [routerLink]="['./blog']" [routerLinkActive]="['active']">Blog</a>
        </li>
        <!-- <li>
          <a [routerLink]="['./formulario']" [routerLinkActive]="['active']">Formulario</a>
        </li>
        <li>
          <a [routerLink]="['./peliculas']" [routerLinkActive]="['active']">Peliculas</a>
        </li>
        <li>
          <a [routerLink]="['./paginas/']" [routerLinkActive]="['active']">Pagina</a>
        </li> -->
      </ul>
    </nav>
    <!--Clean-->
    <div class="clearfix"></div>
  </div>
</header>