body {
  text-align: center;
  margin: 0px;
  padding: 0px;
  /*FUENTES*/
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

#header {
  height: 120px;
  width: 100%;
  background: white;
  border-bottom: 2px solid #ccc;
  border-top: 5px solid #ed3c3c;
}

.subheader {
  font-size: 32px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.center {
  width: 75%;
  margin: 0px auto;
}

.clearfix {
  clear: both;
  float: none;
}

#logo {
  width: 30%;
  font-size: 28px;
  float: left;
  margin-top: 35px;
}

#logo img {
  display: block;
  float: left;
  height: 46px;
  margin-top: -5px;
  margin-right: 10px;
  animation: latir infinite 5s linear;
}

@keyframes latir {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1.01, 1.01);
  }
  % {
    transform: scale(0.95, 0.95);
  }
  100% {
    transform: scale(0.9, 0.9);
  }
}
#brand {
  display: block;
  margin: 0px;
  float: left;
}

#menu {
  width: 70%;
  float: right;
  font-size: 18px;
}

#menu ul {
  line-height: 85px;
  width: 60%;
  float: right;
}

#menu ul li {
  display: inline-block;
  list-style: none;
  height: 46px;
  margin: 0 15px;
}

#menu a {
  text-decoration: none;
  color: #444;
  transition: 300ms all;
}

#menu a:hover,
.active {
  color: #ed3c3c !important;
}

.year-green {
  display: block;
  background-color: chartreuse;
  color: black;
  padding: 5px;
  width: 120px;
  text-align: center;
}

.year-red {
  display: block;
  background-color: red;
  color: white;
  padding: 5px;
  width: 120px;
  text-align: center;
}

#slider {
  width: 100%;
  height: 350px;
  /* line-height: 320px; */
  color: white;
  text-shadow: 0px 0px 5px #444;
  /* DEGRADADO CSS */
  background: #f0f9ff; /* Old browsers */
  background: #ed3c3c; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #ed3c3c 30%, #ed3c3c 43%, #ed3c3c 43%, #6d0019 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  #ed3c3c 30%,#ed3c3c 43%,#ed3c3c 43%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  #ed3c3c 30%,#ed3c3c 43%,#ed3c3c 43%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed3c3c', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#slider h1 {
  margin-top: 0.2px;
  padding: 0px;
  padding-top: 120px;
  text-align: center;
}

#slider.slider-sm {
  height: 120px;
}

#slider.slider-sm h1{
  margin-top: 0.2px;
  padding: 0px;
  padding-top: 40px;
}

#content {
  width: 70%;
  float: left;
  min-height: 650px;
  margin-right: 50px;
}

#sidebar {
  width: 25%;
  float: left;
}

.sidebar-item {
  background: #f7f7f7;
  padding: 20px;
  margin-top: 30px;
}

.sidebar-item h3 {
  text-transform: uppercase;
  font-size:  16px;
  margin: 0px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid #eee;
}

.sidebar-item .btn {
  margin: 0px auto;
  margin-top: 10px;

}

.btn {
  background: black;
  color: white;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0px auto;
  font-size: 14px;
  text-decoration: none;
  max-width: 120px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.buttons {
  display: inline-block;
}

.btn-white {
  display: block;
  background: white;
  color: rgb(99, 99, 99);
  padding: 10px;
  width: 90px;
  height: 14px;
  text-shadow: none;
  text-decoration: none;
  line-height: 14px;
  box-shadow: 0px 0px 5px rgb(99, 99, 99);
  margin-top: 30px;
  border-radius: 2px;
  transition: 300ms all;
}

.btn-white:hover {
  background: rgba(18, 17, 17, 0.3);
  color: white;
}

.btn-success {
  display: block;
  background: rgb(234,57,57, 0.9);
  color: white;
  padding: 6px;
  font-size: 12px;
  /* width: 90px;
  height: 14px; */
  text-shadow: none;
  text-decoration: none;
  /* line-height: 14px; */
  box-shadow: 0px 0px 5px rgb(234,57,57, 0.9);
  border-radius: 2px;
  transition: 300ms all;
}

.btn-warning {
  display: block;
  background: rgba(223, 171, 31, 0.9);
  color: white !important;
  padding: 6px;
  font-size: 12px;
  text-shadow: none;
  text-decoration: none;
  /* line-height: 14px; */
  box-shadow: 0px 0px 5px rgba(224, 204, 20, 0.9);
  border-radius: 2px;
  transition: 300ms all;
}

.btn-danger {
  display: block;
  background: rgb(234,57,57, 0.9);
  color: white !important;
  padding: 6px;
  font-size: 12px;
  text-shadow: none;
  text-decoration: none;
  /* line-height: 14px; */
  box-shadow: 0px 0px 5px rgb(234,57,57, 0.9);
  border-radius: 2px;
  transition: 300ms all;
}

.btn-success:hover {
  background: rgb(234,57,57);
  color: white;
}

.btn-warning:hover {
  background: rgba(223, 171, 31, 0.7);
  color: white;
}

.btn-danger:hover {
  background: rgba(234,57,57, 0.7);
  color: white;
}

input[type="text"],
input[type="file"],
 textarea {
  width: 100%;
  min-height: 24px;
  border: 1px solid #ccc;
  padding: 3px;
  margin-bottom: 5px;
  transition: 300ms all;
}

.afu-attach-pin {
  display: block !important;
  width: 100% !important;
  max-width: 90% !important;
  margin-top: 15px;
}

input[type="text"]:focus, textarea:focus {
  box-shadow: 0px 0px 10px #eee inset;
}

textarea {
  width: 100%;
  height: 150px;
  min-width: 100%;
  max-width: 100%;
  max-height: 300px;
  min-height: 100px;
}
.radio-buttons {
  float: left;
  margin: 10px 0;
}

.form-md {
  width: 50%;
  margin: 0px auto;
}

.form-md label {
  display: block;
  float: left;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 17px;
}

.article-item {
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  text-align: left;
  float: left;
}

.article-item .image-wrap {
  width: 190px;
  height: 150px;
  overflow: hidden;
  float: left;
  margin-right: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.article-item .image-wrap img {
  height: 100%;
  width: 100%;
  text-align: center;
}

.article-item h2 {
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-bottom: 7px;
}

.article-item .date {
  display: block;
  width: 100%;
  color: rgb(68, 68, 68, 0.7);
}

.article-item a {
  display: block;
  color: #444;
  text-decoration: none;
  margin-top: 10px;
}

.article-item a:hover {
  text-decoration: underline;
}

.article-detail .image-wrap {
  float: none;
  width: 100%;
  height: 300px;
}

.article-detail .image-wrap img{
  width: 100%;
  height: auto;
}

.article-detail .subheader {
  margin-bottom: 5px;
  border: none;
  margin-top: 10px;
  padding-bottom: 0px;
}

.image-thumb img {
  width: 150px;
}

#footer {
  background: #f7f7f7;
  width: 100%;
  height: 60px;
  line-height: 65px;
  color: #444;
}

#footer p {
  margin: 0px;
  padding: 0px;
}


/* RESPONSIVE */
@media(max-width: 1512px){
  .center{
    width: 85%;
  }
}

@media(max-width: 1314px){
  .center{
    width: 95%;
  }
  #menu ul {
    width: auto;
  }
}

@media(max-width: 810px) {
  #logo {
    float: none;
    width: 265px;
  }
}

@media(max-width: 810px) {
  #logo {
    float: none;
    width: 240px;
    margin: 0px auto;
    margin-top: 20px;
  }

  #menu,
  #menu ul {
    clear: both;
    float: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    line-height: 40px;
  }

  #content {
    float: none;
    width: 100%;
  }

  #sidebar {
    float: none;
    width: 50%;
    margin: 0px auto;
    margin-bottom: 50px;
  }

  #slider h1 {
    /* padding-top: 140px; */
    font-size: 25px;
  }

  .form-md {
    width: 70%;
  }
}

@media(max-width: 510px){
  #header {
    min-height: 130px;
    overflow: hidden;
  }

  #menu, menu ul {
    line-height: 50px;
    overflow: hidden;
  }

  #menu ul li {
    margin: 0 7px;
  }

  #slider {
    height: 130px;
  }

  #slider h1 {
    font-size: 19px;
    padding-top: 30px;
  }

  #slider .btn-white {
    margin-top: 15px;
    /* font-size: x-small; */
  }

  #slider.slider-sm {
    height: 100px;
  }

  #slider.slider-sm h1 {
    padding-top: 35px;
  }
}
