<div class='loading' *ngIf='!article'>
  Loading...
</div>
<div class="center" *ngIf='article'>
  <section id="content">
    <article class="article-item article-detail" *ngIf="article">
      <div class="image-wrap">
        <img src="{{url + 'get-image/' + article.image}}" alt='{{article.title}}' *ngIf="article.image">
        <img src="assets/images/default.jpeg" alt='{{article.title}}' *ngIf="!article.image">
      </div>
      <h1 class="subheader">{{article.title}}</h1>
      <span class="date">
        {{article.date | amLocale: 'en' | amTimeAgo }}
      </span>
      <p>
        {{article.content}}
      </p>
      <div class="clearfix"></div>
      <div class="buttons">
        <a [routerLink]="['/blog/edit', article._id]" class= 'btn btn-warning'>Edit</a>
        <a (click)="delete(article._id)" class= 'btn btn-danger'>Delete</a>
      </div>
    </article>
  </section>
  <app-sidebar></app-sidebar>
</div>