<div class="center">
  <section id="content">
    <h1 class="subheader">{{page_title}}</h1>
      <form class="form-md" #articleForm ="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" name="title" #title="ngModel" [(ngModel)]="article.title" required>
          <small *ngIf="!title.valid && title.touched">
            Title is not valid
          </small>
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea name="content" #content="ngModel" [(ngModel)]="article.content"></textarea>
          <small *ngIf="!content.valid && content.touched">
            Content is not valid
          </small>
        </div>
        <div class="form-group">
          <div class='image-thumb' *ngIf="is_edit">
            <img src="{{url + 'get-image/' + article.image}}" alt='{{article.title}}' *ngIf="article.image">
            <img src="assets/images/default.jpeg" alt='{{article.title}}' *ngIf="!article.image">
          </div>
          <angular-file-uploader
            [config]="afuConfig"
            (ApiResponse)="imageUpload($event)">
          </angular-file-uploader>
        </div>

        <div class="clearfix"></div>
        <input type="submit" value="Guardar" class="btn btn-success" [disabled]="articleForm.invalid">
      </form>
  </section>
  <app-sidebar></app-sidebar>
</div>