<app-slider
[superTitle] = "'Search: '+ search"
[sliderSize] = "'small'">
</app-slider>
<div class="center">
  <section id="content">
    <h1 class="subheader">Items found</h1>
    <app-articles
      [articles]="articles"
    ></app-articles>
  </section>
  <app-sidebar></app-sidebar>
</div>